* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	max-width: 900px;
	margin: 0 auto;
	background-color: beige;
	padding: 3rem 1rem;
	color: black;
}
form{
	text-align: center;
	margin: 3rem;
	color: black;
}
.todo{
	border-radius: 0.5px;
	background-color: aliceblue;
	padding: 1rem;
	margin: 1rem;
	list-style: none;
	display: flex;
	justify-content: space-between;
	color: black;
}
.done{
	text-decoration: line-through;
}
.notdec{
	text-decoration: none;
}